body {
  margin: 0;
  padding: 0;
  background: url('../img/coide.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 960px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(255, 238, 90, 0.884);
  text-align: center;
}
