body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
}

canvas#pixelCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  padding: 40px;
  color: white;
  text-align: center;
}

.nav-central {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.neon {
  text-decoration: none;
  color: #0ff;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
}

.titulo {
  font-size: 32px;
  color: #ff66cc;
  text-shadow: 0 0 5px #ff66cc;
  margin-bottom: 110px;
}

.galeria-jogos {
  display: flex;
  flex-wrap: wrap;
  /* permite quebrar linha se não couber */
  justify-content: center;
  /* centraliza */
  gap: 20px;
  /* espaço entre os cards */
}

.jogo-card img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}


.jogo-card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #0ff;
  border-radius: 12px;
  padding: 16px;
  width: 300px;
  height: 420px;
  box-shadow: 0 0 15px #0ff;
  display: flex;
  flex: 0 0 250px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}

.jogo-card img {
  width: 100%;
  height: 350px;
  /* altura maior para imagem */
  object-fit: cover;
  border-radius: 8px;
}

.jogo-card h2 {
  margin-top: auto;
  /* empurra o título para o final do card */
  font-size: 22px;
  color: #fff;
  text-shadow: 0 0 4px #0ff;
}